################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Task-APP/CopilotIndices/17.12.38.29086
/.vs/Task-APP/FileContentIndex
/.vs/Task-APP/v17
